@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
:root{
    --first-color:  #ffb53d;
    --2nd-color:#0b5e70;
    --3rd-color:#042122;
    --white:rgb(236, 236, 236);
}

*{

    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.project{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.all-box{
    width: 60%;
    
    display: flex; 
    align-items: center;
    justify-content: center;  
    
    
}
.box{
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--white);
}
.box .header{
    text-transform: uppercase;
    font-size: 20px;
    
}
.box p{
    text-transform: capitalize;
    font-size: 15px;
    line-height: 27px;
}
.box .part-1{
    display: flex;
    flex-direction: column;
    gap:30px;

}
.box .part-2{
    display: flex;
    flex-direction: column;
    gap:70px;

}
.box .part-2 button{
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-transform: capitalize; 
    cursor: pointer;
    
    
    
}
.box-1{
    background: var(--first-color);

}
.box-1 button {
    background-color: var(--first-color);
    color: #fff;
}

.box-2{
    background:var(--2nd-color);

}
.box-2 button {
    background-color: var(--2nd-color);
    color: #fff;
}
.box-3{
    background:var(--3rd-color);
}
.box-3 button {
    background-color: var(--3rd-color);
    color: #fff;
}




/* media quary */
@media only screen and (max-width: 1000px) {
    .all-box{ 
    display: flex;
    width: 80%;

   } 
   .box{

    padding: 21px 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: var(--white);
    
    
    

   }
 
@media only screen and (max-width: 900px) {
    .all-box{ 
    display: flex;
    width: 80%;

   } 
   .box{

    padding: 21px 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: var(--white);
    
    
    

   }
    .box .header{
    text-transform: uppercase;
    font-size: 17px;
    
}
.box p{
    text-transform:none;
    font-size: 12px;
    line-height: 17px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    word-spacing: 1px;
    
    
}
.box .part-2 button{
    white-space: nowrap;
    padding: 7px 20px;
}
.box .part-2 {
    gap: 45px;
}






}
 
@media only screen and (max-width: 700px) {
    .all-box{ 
    display: flex;
    width: 90%;

   } 
   .box{

    padding: 21px 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--white);
    
    
    

   }
    .box .header{
    text-transform: uppercase;
    font-size: 16px;
    
}
.box p{
    text-transform:none;
    font-size: 11px;
    line-height: 17px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    word-spacing: 1px;
    
    
}
.box .part-2 button{
    white-space: nowrap;
    padding: 6px 17px;
}
.box .part-2{
    gap: 30px;
}


}
@media screen and (max-width:500px) {
.box{

    padding: 21px 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--white);
    
    
    

   }
    .box .header{
    text-transform: uppercase;
    font-size: 13px;
    
}
.box p{
    text-transform:none;
    font-size: 11px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    word-spacing: 1px;
}   

.box .part-2 button{
    font-size: 12px;
    white-space: nowrap;
    padding: 6px 14px;
    border: 2px solid var(--white);
    border-radius: 50px;
    text-transform: capitalize; 
    cursor: pointer;
    
    
    
}

 .box .part-2{
    display: flex;
    flex-direction: column;
    gap:18px;

   
}
}
@media only screen and (max-width: 400px) {
    .project{
    
        /* background-color: red; */

        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
   .all-box{
    display: flex;
    flex-direction: column;
    height: auto;

   } 
   .box{
    width: 60%;
    padding: 18px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--white);
    
    
    

   }
    .box .header{
    text-transform: uppercase;
    font-size: 12px;
    
}
.box p{
    font-size: 10px;
    line-height: 15px;
    
    /* text-align: left; */
    
}
.box .part-1{
    gap:15px;

}
.box .part-2{
    gap:39px;

}
.box .part-2 button{
    font-size: 12px;
    white-space: nowrap;
    padding: 5px 13px;
    border: 2px solid var(--white);
    background-color: var(--white);
    cursor: pointer;
    
    
    
}
.box img{
    width: 35px;
}
.box-1 button {
    color: var(--first-color);
    
}
.box-2 button {
    color: var(--2nd-color);
    
}
.box-3 button {
    color: var(--3rd-color);
    
}








}
@media screen and (max-width:384px){
    .project{
        height: auto;

    }
    .all-box{
        height: auto;
    }
    .box{

        width: 60%;
        padding: 25px 25px;
        gap: 15px;
        color: var(--white);
        
        

    }
        .box .header{
        text-transform: uppercase;
        font-size: 12px;
        
    }

    .box .part-1{
        display: flex;
        flex-direction: column;
        gap:15px;

    }
    .box .part-2{
        gap:20px;

    }
    .box .part-2 button{
        font-size: 10px;
        white-space: nowrap;
        padding: 5px 13px;
        border: 2px solid var(--white);
        background-color: var(--white);
        border-radius: 50px;
        text-transform: capitalize; 
        cursor: pointer;
        
        
        
    }
    .box img{
        width: 45px;
    }
    .box-1 button {
        color: var(--first-color);
        
    }
    .box-2 button {
        color: var(--2nd-color);
        
    }
    .box-3 button {
        color: var(--3rd-color);
        
    }


}
}